#header, #container, #content {
    position: relative;
}

#main {
    border-bottom: 1px solid #f7f7f7;
}

#content {
    min-width: 1050px;
    padding-bottom: 120px;
}

.page_aticle {
    width: 1050px;
    margin: 0 auto;
}

.member_join {
    width: 640px;
    margin: 0 auto;
}

.member_join .field_head .tit {
    padding-top: 64px;
    font-weight: 900;
    font-size: 30px;
    color: #333;
    line-height: 40px;
    text-align: center;
    letter-spacing: -.5px;
}

.member_join .field_head .sub {
    padding: 23px 0 10px;
    font-size: 12px;
    color: #666;
    line-height: 17px;
    text-align: right;
}

.member_join .tbl_comm {
    width: 100%;
    border-top: 2px solid #333;
}

.member_join th {
    width: 159px;
    padding: 20px 0 0 20px;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    vertical-align: top;
    text-align: left;
}

.member_hack .info {
    padding-top: 20px;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}

.member_join td {
    padding: 10px 0;
    border-top: 0;
    vertical-align: top;
    text-align: left;
}

.member_hack .info .emph {
    display: block;
    padding: 19px 0 12px;
    color: #5f0080;
}

.member_join input[type=text], .member_join input[type=password] {
    width: 332px;
}

.type_form textarea, .type_form input[type=text], .type_form input[type=password] {
    height: 44px;
    padding: 0 14px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    border-radius: 3px;
    background: #fff;
    outline: none;
    vertical-align: top;
}

.type_form label.label_block {
    display: block;
    padding: 15px 0 13px;
}

.member_hack .label_block {
    float: left;
    width: 50%;
}

.type_form label {
    font-size: 14px;
    line-height: 22px;
}

.type_form input[type=checkbox] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.type_form input[type=checkbox]+.ico {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border: 0;
    background: url(https://res.kurly.com/pc/service/common/2006/ico_checkbox.svg) no-repeat 50% 50%;
    background-size: 24px 24px;
    vertical-align: -7px;
}

.type_form input[type=checkbox]:checked+.ico {
    background: url(https://res.kurly.com/pc/service/common/2006/ico_checkbox_checked.svg) no-repeat 50% 50%;
    background-size: 24px 24px;
}

.member_hack textarea {
    width: 100%;
}

html body #container #main .type_form textarea {
    height: auto;
    padding-top: 13px;
    resize: none;
}

.type_form textarea, .type_form input[type=text], .type_form input[type=password] {
    padding: 0 14px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    border-radius: 3px;
    background: #fff;
    outline: none;
    vertical-align: top;
}

textarea::placeholder {
    color: rgb(195, 195, 195);
}

.member_join .form_footer {
    padding-top: 40px;
    text-align: center;
}

.type_form .btn.default {
    border: 1px solid #5f0080;
    background-color: #fff;
    color: #5f0080;
}

.member_join .btn {
    display: inline-block;
    width: 120px;
    margin-left: 5px;
    vertical-align: top;
}

.type_form .btn {
    height: 44px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    outline: none;
}

.type_form .btn.active {
    border: 1px solid #5f0081;
    background-color: #5f0080;
    color: #fff;
}