<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 여기서 namespace는 @mapper가 있는 패키지를 적어야됨-->
<mapper namespace="com.example.test.dao.BoardMapper">
    <select id="boardList" resultType="com.example.test.dto.BoardDto">
        select * from myboard order by idx desc
    </select>

    <insert id="insertData" parameterType="com.example.test.dto.BoardDto">
        insert into myboard(title,content,writer,idx)
        values(#{title},#{content},#{writer},11)
    </insert>
</mapper>