.page_aticle .head_aticle {
    padding: 5px 0 100px;
    font-size: 2em;
}

.member_pw {
    width: 700px;
}

.member_join {
    
    margin: 0 auto;
}

.member_pw .tit {
    padding: 0 0 8px;
    font-weight: 700;
    font-size: 18px;
}

.member_pw .sub {
    padding-bottom: 20px;
    font-size: 12px;
    color: #666;
    line-height: 17px;
}

.member_join .tbl_comm {
    width: 100%;
    border-top: 2px solid #333;
}

.member_join .tbl_comm .fst th {
    padding-top: 29px;
    
}

html body .member_pw th {
    width: 259px;
    padding-left: 120px;
}

.member_join th {
    width: 159px;
    padding: 20px 0 0 20px;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    vertical-align: top;
    text-align: left;
}

.member_join .tbl_comm .fst td {
    padding-top: 19px;
}

.member_join td {
    padding: 10px 0;
    border-top: 0;
    font-size: 14px;
    vertical-align: top;
    text-align: left;
}

.member_join input[type=text], .member_join input[type=password] {
    width: 332px;
}

.type_form textarea, .type_form input[type=text], .type_form input[type=password] {
    height: 44px;
    padding: 0 14px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    border-radius: 3px;
    background: #fff;
    outline: none;
    vertical-align: top;
}

.member_pw tr:last-child th, .member_pw tr:last-child td {
    padding-bottom: 19px;
    border-bottom: 1px solid #ddd;
}

.member_join th .ico {
    color: #ee6a7b;
}

.type_form .btn.active {
    border: 1px solid #5f0081;
    background-color: #5f0080;
    color: #fff;
}

html body .member_pw .active {
    display: block;
    width: 240px;
    height: 56px;
    margin: 40px auto 0;
    font-size: 16px;
    line-height: 54px;
}

.member_join .btn {
    display: inline-block;
    width: 120px;
    margin-left: 5px;
    vertical-align: top;
}

.type_form .btn {
    display: block;
    width: 100%;
    height: 44px;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    outline: none;
}

html body #container #main .member_mod {
    width: 820px;
}

.member_join {
    margin: 0 auto;
}

.member_join .tbl_comm {
    width: 100%;
    border-top: 2px solid #333;
}

html body #container #main .member_mod th {
    width: 259px;
    padding-left: 120px;
}

.field_nowpw .txt_guide{
    display:none;
}
