.section_write .goods_info {
    overflow: hidden;
    padding: 20px 15px;
    border-top: 2px solid #5f0080;
}

.section_write .goods_info .thumb {
    float: left;
    width: 80px;
    margin-right: 25px;
}

.section_write .goods_info .desc {
    display: table;
    height: 104px;
    vertical-align: middle;
}

.section_write .goods_info .desc .inner_desc {
    display: table-cell;
    vertical-align: middle;
}

.section_write .goods_info .name_main {
    padding-top: 4px;
    font-size: 16px;
    color: #000;
    line-height: 24px;
}

.section_write .write_board .tbl {
    border-bottom: 1px solid #dddfe1;
}

.page_aticle .tbl {
    width: 100%;
}

.section_write .write_board th {
    border-top: 1px solid #dddfe1;
    background-color: #f7f7f7;
    font-size: 12px;
    color: #666;
}

.section_write .write_board td {
    padding: 10px 0 10px 10px;
    border-top: 1px solid #dddfe1;
}


.page_aticle .tbl th, .page_aticle .tbl td {
    word-break: break-all;
}

.section_write .write_board .inp {
    width: 100%;
    height: 34px;
    padding: 0 10px;
    border: 1px solid #dddfe1;
    font-size: 12px;
    color: #000;
    line-height: 18px;
    outline: none;
}

.section_write .write_board .field_cmt {
    padding: 8px 10px 9px;
    border: 1px solid #dddfe1;
}

.section_write .write_board textarea {
    overflow: hidden;
    width: 100%;
    min-height: 202px;
    border: 0;
    resize: none;
    font-size: 12px;
    color: #000;
    line-height: 18px;
    outline: none;
}

.section_write .write_board .txt_count {
    font-size: 12px;
    color: #949296;
    line-height: 18px;
    text-align: right;
}

textarea::placeholder, input::placeholder{
    color:rgb(173, 173, 173);
}

.section_write .write_board .photo_add {
    padding-right: 100px;
}

.section_write .write_board .item_photo {
    display: block;
    position: relative;
    float: left;
    padding: 10px 20px 10px 0;
}

.section_write .write_board .photo {
    display: block;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.section_write .write_board .btn_delete {
    position: absolute;
    right: 5px;
    top: -5px;
    width: 30px;
    height: 30px;
    border: 0;
    background: url(https://res.kurly.com/pc/ico/1806/ico_thumb_delete.png) no-repeat 50% 50%;
}

.section_write .write_board .btn_upload {
    position: relative;
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 0;
    border: 1px solid #dddfe1;
    background: url(https://res.kurly.com/pc/ico/1806/img_add_thumb.png) no-repeat 50% 50%;
}

.section_write .write_board .photo_add:after {
    content: "";
    display: block;
    overflow: hidden;
    clear: both;
}

.section_write .write_board .file_upload {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    opacity: 0;
    cursor: pointer;
}

.section_write .write_board .file_count {
    position: relative;
}

.section_write .write_board .file_count .txt_count {
    position: absolute;
    right: 11px;
    top: 0;
}

.section_write .write_board .photo_notice {
    padding-bottom: 10px;
    font-size: 12px;
    color: #666;
    line-height: 18px;
}

.section_write .link_inquire {
    padding: 20px 0 50px;
    font-size: 12px;
    color: #949296;
    line-height: 18px;
}

.section_write .link_inquire a {
    padding: 0 9px 0 5px;
    background: url(https://res.kurly.com/pc/ico/1806/ico_arrow_6x10.png) no-repeat 100% 4px;
    font-weight: 700;
    color: #5f0080;
}



.section_write .btn_reg {
    display: block;
    width: 200px;
    height: 48px;
    margin: 0 auto;
    border: 1px solid #5f0080;
    background-color: #5f0080;
    font-size: 14px;
    color: #fff;
    line-height: 46px;
}