.section_destination .new_address {
    position: relative;
}

.section_destination .new_address .btn {
    position: absolute;
    right: 3px;
    bottom: 7px;
    border: 0 none;
    background-color: #fff;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    line-height: 24px;
    letter-spacing: -0.5px;
    text-align: right;
}

.section_destination .new_address .ico {
    margin-right: 2px;
    vertical-align: -2px;
}

.section_destination .tbl_type1 {
    border-bottom: 1px solid #f4f4f4;
}

.page_aticle .tbl {
    width: 100%;
}

.section_destination .type_select .tit_select {
    display: table-cell;
}

.section_destination .tbl_type1 .tit_select {

    width: 60px;
}

.section_destination .tbl_type1 th {
    padding: 17px 0 20px;
    vertical-align: top;
}

.page_aticle .tbl_type1 th {
    padding: 20px 0;
    border-top: 2px solid #333;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    letter-spacing: -.5px;
}

.section_destination .type_select .tit_address {
    padding-left: 0;
    text-indent: -8px;
}

.section_destination .tbl_type1 .tit_address {
    width: auto;
}

.section_destination .tbl_type1 .tit_receive {
    width: 120px;
}

.section_destination .tbl_type1 .tit_phone {
    width: 100px;
}


.section_destination .tbl_type1 .tit_delivery {
    width: 100px;
}

.section_destination .tbl_type1 .tit_modify {
    width: 60px;
}


.section_destination .tbl_type1 tr:first-child td, .section_destination .tbl_type1 td {
    height: 90px;
    font-size: 14px;
    color: #333;
    line-height: 22px;
    letter-spacing: -0.4px;
    vertical-align: middle;
    text-align: center;
}

.page_aticle .tbl_type1 tr:first-child td {
    border-top: 1px solid #333;
}

.section_destination .type_select .select {
    display: table-cell;
}

.type_radio label {
    font-size: 14px;
    line-height: 22px;
}

.type_radio input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.section_destination .tbl_type1 .type_radio input[type="radio"] + .ico {
    margin: 0;
    vertical-align: middle;
}

.type_radio input[type="radio"]:checked + .ico {
    background: url(https://res.kurly.com/mobile/service/common/2003/ico_checkbox_checked.png) no-repeat 50% 50%;
    background-size: 24px 24px;
}

.type_radio input[type="radio"] + .ico {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border: 0 none;
    background: url(https://res.kurly.com/mobile/service/common/2003/ico_checkbox.png?v=1) no-repeat 50% 50%;
    background-size: 24px 24px;
    vertical-align: -7px;
}

.section_destination .type_select .address {
    padding-left: 2px;
}

.section_destination .tbl_type1 .address {
    padding: 20px 10px 20px 20px;
    text-align: left;
}

.section_destination .tbl_type1 .badge_default {
    display: block;
    width: 74px;
    height: 22px;
    margin-bottom: 7px;
    border-radius: 11px;
    background-color: #f7f7f7;
    font-weight: 700;
    font-size: 12px;
    color: #666;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
}

.section_destination .tbl_type1 .addr {
    padding: 0;
    font-size: 16px;
    color: #333;
    line-height: 24px;
    letter-spacing: -0.3px;
    text-align: left;
    word-break: break-all;
}

.section_destination .tbl_type1 .star {
    color: #5f0080;
}

.section_destination .tbl_type1 .modify {
    width: 24px;
    height: 24px;
    border: 0 none;
    background: url(https://res.kurly.com/mobile/ico/2006/ico_modify.png) no-repeat 50% 50%;
    font-size: 0;
    line-height: 0;
}
.delete_position {
    position: relative;
}

.product_delete {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 0 none;
    background: url(https://res.kurly.com/pc/service/cart/2007/ico_delete.svg) no-repeat 50% 50%;
    font-size: 0;
    line-height: 0;
    top: 33px;
    left: 19px;
}

.tit_delete{
    width:80px;
}
